@using Parad.ViewModels
@model HomeVM
@{ 
    ViewData["Title"] = "Home Page"; 
}


<style>

    @@media only screen and (min-width: 1400px) {
        .masonry .item .details {
            left: 137px !important;
        }
    }

    @@media only screen and (min-width: 992px) and (max-width: 1200px) {
        .masonry .item .details {
            left: 137px !important;
        }
    }

    @@media only screen and (max-width: 992px) {
        .masonry .item .details {
            display: block
        }
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .masonry .item .details {
            left: 96px !important;
        }
    }

    @@media only screen and (min-width: 576px) and (max-width: 768px) {
        .masonry .item .details {
            left: 112px !important;
        }
    }

    @@media only screen and (min-width: 321px) and (max-width: 576px) {
        .masonry .item {
            position: relative;
            display: flex;
            justify-content: center;
        }

            .masonry .item .details {
                left: auto !important;
            }
    }

    @@media only screen and (min-width: 299px) and (max-width: 320px) {
        .masonry .item .details {
            left: 132px !important;
        }
    }
</style>
<main>
    <section id="first" class="first darkmode-ignore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 left">
                    <img src="~/assets/images/parad002.png" alt="">
                </div>
                <div class="col-lg-6 right">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            @foreach (var item in Model.Sliders)
                            {
                <div class="carousel-item @(Model.Sliders[0]==item?"active":"") " data-bs-interval="4000">
                    <div class="carousel-caption">
                        <h5>@item.Title</h5>
                        <p>
                            @item.Content
                        </p>
                    </div>
                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="profile-img-converter" style="display:none">
            @if (User.Identity.IsAuthenticated)
            {
<img id="pro-img-con" src="~/assets/images/@Model.AppUser.Where(u=>u.UserName==User.Identity.Name).FirstOrDefault().ProfileImage" />}
        </div>
    </section>
    <section id="second">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 litle-title">
                    <div class="box-title darkmode-ignore">
                        <p>
                            PARAD
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 first-title">
                    <h1>
                        Popular Categories
                    </h1>
                    <div class="line darkmode-ignore"></div>
                </div>
                <div class="col lg-12 darkmode-ignore">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Categories)
                            {
                <div class="swiper-slide">
                    <a asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Id">
                        <img src="~/assets/images/@item.DescriptionImage" alt="">
                        <h3>
                            @item.CategoryName
                        </h3>
                    </a>
                </div>}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="col-lg-12 all-categories">
                    <div class="all-cat">
                        <a asp-controller="Category" asp-action="Index">
                            <p>
                                All Categories
                            </p>
                            <i class="fa-solid fa-right-long"></i>
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>
    <section id="third">
        <div class="container">
            <div class="row">
                <div class="masonry">
                    @await Html.PartialAsync("_ImagePartial",Model.Images)
                    @*<partial name="_ImagePartial" />*@
                </div>
                <input type="hidden" value="@ViewBag.ImageCount" id="imageCount" />
                <div class="popup-img darkmode-ignore">
                    <span>&times;</span>
                    <img src="" alt="">
                </div>
                <div class="col-lg-12 load-more darkmode-ignore">
                    <button id="loadMoreBtn">
                        <p>Load More</p>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script>
        $(document).on("click", "#loadMoreBtn", function () {
            let skip = $(".masonry").children().length
            let imageCount = $("#imageCount").val()
            $.ajax({
                url: '/Home/LoadMore',
                method: 'GET',
                data: {
                    skip: skip
                },
                success: function (res) {
                    $(".masonry").append(res)
                    if (skip >= imageCount) {
                        $("#loadMoreBtn").remove()
                    }
                }
            })
        })
    </script>
}
